<?xml version="1.0"?>
<config>
    <modules>
        <Magento_Pickup>
            <version>0.1.0</version>
        </Magento_Pickup>
    </modules>
    <global>
        <models>
            <magento_pickup>
                <class>Magento_Pickup_Model</class>
            </magento_pickup>
        </models>
        <helpers>
            <magento_pickup>
                <class>Magento_Pickup_Helper</class>
            </magento_pickup>
        </helpers>
    </global>
    <default>
        <carriers>
            <magento_pickup>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>magento_pickup/carrier</model>
                <title>Magento Pickup Store</title>
                <sort_order>10</sort_order>
                <sallowspecific>1</sallowspecific>
                <express_max_weight>3</express_max_weight>
            </magento_pickup>
        </carriers>
    </default>
</config>
